/* assets/css/onedark.css */
pre code {
  background-color: #282c34;
  color: #abb2bf;
  padding: 1rem;
  border-radius: 6px;
  overflow-x: auto;
}
code {
  color: #e06c75;
}
.hljs-comment {
  color: #5c6370;
}
.hljs-keyword,
.hljs-selector-tag {
  color: #c678dd;
}
.hljs-string {
  color: #98c379;
}
.hljs-function {
  color: #61afef;
}
