<footer class="pt-24">
  <div class="container">
    <div class="flex flex-row items-center justify-between py-10">
      <div class="lg:col-3 mb-8 text-center lg:mb-0 lg:text-left"></div>
      <div class="lg:col-6 mb-8 text-center lg:mb-0"></div>

      <div class="flex w-full justify-end items-center gap-x-4">
        <div class="text-sm flex intems-center pr-4">
          <p class="font-light">Maintained by susilodev</p>
        </div>
        <ul class="flex flex-row gap-4 justify-end">
          {{ range site.Data.social.main }}
            <li>
              <a
                target="_blank"
                aria-label="{{ .name }}"
                rel="nofollow noopener"
                href="{{ .link | safeURL }}">
                <i class="{{ .icon }} text-xl"></i>
              </a>
            </li>
          {{ end }}
        </ul>
      </div>
    </div>
  </div>
</footer>
