{{ define "main" }}
  <section class="section pt-7 mx-auto">
    <div
      class="flex justify-between w-full flex-col lg:flex-row container lg:gap-8">
      <section class="w-full lg:w-6/12">
        <article class="w-full">
          {{ $image:= .Params.image }}
          {{ if $image }}
            <div class="mb-10 pt-4">
              {{ partial "image" (dict "Src" $image "Context" .Page "Alt" .Title "Class" "w-full rounded") }}
            </div>
          {{ end }}
          <h1 class="h2 mb-4">
            {{ .Title }}
          </h1>
          <ul class="mb-4">
            <li class="mr-4 inline-block">
              <a
                href="{{ `authors/` | relLangURL }}{{ .Params.Author | urlize }}/">
                <i class="fa-regular fa-circle-user mr-2"></i
                >{{ .Params.author }}
              </a>
            </li>
            {{ $categories:= .Params.categories }}
            {{ if $categories }}
              <li class="mr-4 inline-block">
                <i class="fa-regular fa-folder mr-2"></i>
                {{ range $i,$p:= $categories }}
                  <a
                    href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}/"
                    class=""
                    >{{ . | humanize }}{{ if ne $i (sub (len $categories) 1) }}
                      {{ "," }}
                    {{ end }}
                  </a>
                {{ end }}
              </li>
            {{ end }}
            <li class="mr-4 inline-block">
              <i class="fa-regular fa-clock mr-2"></i>
              {{ time.Format ":date_long" .PublishDate }}
            </li>
          </ul>
          <div class="content flex lg:hidden mb-10">
            {{ partial "toc.html" (dict "Class" "blog" "Collapsed" false "TableOfContents" .TableOfContents ) }}
          </div>

          <div class="content flex flex-col mb-10">
            {{ .Content }}
          </div>

          <div class="flex flex-col items-start justify-between">
            {{ $tags:= .Params.tags }}
            {{ if $tags }}
              <div class="mb-10 flex flex-col items-start lg:mb-0">
                <h5 class="text-lg">Tags:</h5>
                <ul class="mt-4 space-x-2">
                  {{ range $i,$p:= $tags }}
                    <li class="inline-block ">
                      <a
                        class="bg-slate-200 hover:bg-primary dark:bg-darkmode-light dark:hover:bg-slate-300 dark:hover:text-black m-1 text-sm block  rounded-sm px-3 border-[1px]  border-slate-300/50 rounded-sm py-2 hover:text-white"
                        href="{{ `tags/` | relLangURL }}{{ . | urlize | lower }}/">
                        #{{ . | humanize }}
                      </a>
                    </li>
                  {{ end }}
                </ul>
              </div>
            {{ end }}
          </div>
        </article>
      </section>
      <aside class="content !overflow-visible hidden lg:flex lg:w-6/12">
        <div class="sticky  top-22 self-start">
          {{ partial "toc.html" (dict "Class" "blog" "Collapsed" false "TableOfContents" .TableOfContents ) }}
        </div>
      </aside>

      <!-- Related posts -->
      {{ $related := .Site.RegularPages.Related . | first 10 }}
      {{ $related = $related | shuffle | first 3 }}
      {{ with $related }}
        <div class="section pb-0">
          <h2 class="h3 mb-12">{{ T "related_posts" }}</h2>
          <div class="row">
            {{ range . }}
              <div class="lg:col-4 md:col-6 mb-14">
                {{ partial "components/blog-card" . }}
              </div>
            {{ end }}
          </div>
        </div>
      {{ end }}
    </div>
  </section>
{{ end }}
