{{ define "main" }}
  <!-- Banner -->
  {{ with .Params.banner }}
    <section
      class="h-screen flex items-center flex mx-auto opacity-0 transition-opacity duration-1000 ease-in-out transform translate-y-10"
      data-aos="fade-up">
      <div class="container">
        <div class="row justify-center">
          <div class="lg:col-7 md:col-9 mb-8 text-center">
            <h1 class="mb-4 text-3xl font-normal lg:text-h1">
              {{ .title | markdownify }}
            </h1>
            <p class="mb-8">
              {{ .content | markdownify }}
            </p>
            {{ with .button }}
              {{ if .enable }}
                <a
                  class="border-[1px] border-slate-200 rounded-2xl px-8 py-4 text-sm text-text hover:bg-primary hover:text-white dark:border-darkmode-border dark:text-darkmode-text dark:hover:bg-darkmode-primary dark:hover:text-black"
                  href="{{ .link | absURL }}"
                  {{ if strings.HasPrefix .link `http` }}
                    target="_blank" rel="noopener"
                  {{ end }}>
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
          <div class="col-12">
            {{ partial "image" (dict "Src" .image "Alt" "Banner image" "Loading" "eager" "Class" "mx-auto lg:!max-w-[800px]" "DisplayXL" "800x" ) }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Banner -->

  <!-- Features -->
  {{ range $i, $e:= .Params.features }}
    <section
      class="opacity-0 transition-opacity duration-1000 ease-in-out transform translate-y-10"
      data-aos="fade-up">
      <div class="container">
        <div class="row items-center justify-between">
          <div
            class="mb:md-0 {{ if not (modBool $i 2) }}
              md:order-2
            {{ end }} md:col-5 mb-6">
            {{ partial "image" (dict "Src" .image "Alt" "feature image" "DisplayXL" "520x" "DisplayLG" "425x" "DisplayMD" "360x") }}
          </div>
          <div
            class="{{ if not (modBool $i 2) }}
              md:order-1
            {{ end }} md:col-7 lg:col-6">
            <h2
              class="mb-8 text-xl text-center md:text-left leading-12 lg:text-3xl text-slate-200 font-normal text-light">
              {{ .title | markdownify }}
            </h2>
            <p class="mb-8 text-lg">
              {{ .content | markdownify }}
            </p>
            <ul class="mt-24 lg:mt-0">
              {{ range .bulletpoints }}
                <li class="relative mb-4 pl-7">
                  <i class="fa fa-check absolute left-0 top-1.5 text-lg"></i>
                  {{ . | markdownify }}
                </li>
              {{ end }}
            </ul>
            {{ with .button }}
              {{ if .enable }}
                <a class="btn btn-primary mt-6" href="{{ .link | absURL }}">
                  {{ .label }}
                  <i class="fa fa-arrow-right pl-2"></i>
                </a>
              {{ end }}
            {{ end }}
          </div>
        </div>
      </div>
    </section>
  {{ end }}
  <!-- /Features -->

  <!-- Animation Script -->
  <script>
    function handleIntersection(entries, observer) {
      entries.forEach((entry) => {
        if (entry.isIntersecting) {
          entry.target.classList.remove("opacity-0", "translate-y-10");
          entry.target.classList.add("opacity-100", "translate-y-0");
          observer.unobserve(entry.target);
        }
      });
    }

    const observer = new IntersectionObserver(handleIntersection, {
      root: null,
      rootMargin: "0px",
      threshold: 0.1,
    });

    document.addEventListener("DOMContentLoaded", () => {
      const elements = document.querySelectorAll('[data-aos="fade-up"]');
      elements.forEach((el) => observer.observe(el));
    });
  </script>
{{ end }}
