<article class="flex h-screen max-h-screen max-w-full flex-col justify-start dark:prose-invert lg:flex-col">
  <!-- <section class="fixed lg:relative bottom-12 right-8 w-auto lg:w-full flex flex-row justify-center items-center h-12 lg:h-36"> -->
  <!--    <section class="h-12 rounded-full flex items-center justify-center lg:justify-start w-12 lg:w-full lg:max-w-[500px] flex-none ring-[1px] pl-0 lg:pl-0 lg:pr-4"> -->
  <!--        <form class="flex items-center justify-center lg:justify-start w-full pl-0 lg:pl-4"> -->
  <!---->
  <!--          <div id="search-button" class="flex items-center justify-center mx-auto  w-full h-full lg:w-8 lg:h-8 text-neutral-400"> -->
  <!--            {{ partial "icon.html" "search" }} -->
  <!--          </div> -->
  <!---->
  <!--          <input -->
  <!--            type="search" -->
  <!--            class="hidden lg:flex flex-auto h-10 bg-transparent w-full focus:outline-none outline-none border-none focus:border-none focus:ring-0 placeholder-slate-400 lg:pr-4" -->
  <!--            placeholder="{{ i18n "search.input_placeholder" }}" -->
  <!--          /> -->
  <!--        </form> -->
  <!--    </section> -->
  <!-- </section> -->

  <section class="item-start flex flex-col">{{ partial "recent-articles/main.html" . }}</section>
</article>
